.btn {
  padding: 15px 35px;
  font-size: 16px;
  border: none;
  background-color: #EFEFEF;
  outline: inherit;
}

.btn-primary {
  background-color: $color-primary;
  color: white;
}

.btn-group {
  button {
    margin: 0;
    display: block;
    height: 50px;
    float: left;

    &.btn-action {
      border-left: 1px solid darken($color-primary, 15%);
      padding: 15px;
      background-color: darken($color-primary, 7%);
    }
  }
}
