.dropdown {
  // display: none;
  @extend .list;
  width: auto;
  min-width: 350px;
  border-top-left-radius: 0;
  position: absolute;
  z-index: 5;
  background-color: white;

  li {
    @extend .list-item;
    &:last-child { border-bottom: 0; }
  }
}

.on { display: block; }
.off { display: none; }
