.list-item {
  width: 100%;
  border-bottom: 1px solid #EFEFEF;
}

.article {
  h2 {
    width: 100%;
    line-height: 26px;
    font-size: 20px;;
    display: table;

    span {
      display: table-cell;
      vertical-align: middle;
    }

    .title {
      width: 500px;
      text-align: left;
    }

    .date {
      text-align: right;
    }
  }
}

.experience {
  margin: 15px 0;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #efefef;
  border-radius: 2px;
  background-color: lighten(#CFDEE8, 13);

  p { margin: 0; }

  .left { float: left; }
  .right { float: right; }
}

@include phone {
  .article {
    h2 {
      span { display: block; }
      .date { text-align: left; }
      .title { width: 100%; }
    }
  }
  .experience {
    .left, .right, .date { font-size: 16px; }
    .left, .right { float: none; }
  }
}
