.intro {
    margin-bottom: 125px;
    font-size: 26px;
    line-height: 34px;
}

.text-muted { color: #B3BFCC; }

.date {
  font-size: 18px;
  @extend .text-muted;
}

.text-center {
  text-align: center;
}

@include phone {
  .intro {
    font-size: 22px;
    line-height: 30px;
  }
}
